.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
  margin-bottom: 30px;
}

.features__title {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 10px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.features__heading {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list.list {
  display: flex;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        row-gap: 30px;
    }

        @include tablet {
        flex-wrap: wrap;
        gap: 30px;
    }

        @include desktop {
        column-gap: 30px;
    }
}

// .feature-box {
//   display: flex;
//   margin-left: auto;
//   margin-right: auto;
// }

.features-icon__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  background-color: var(--team-background);
  border-radius: 4px;

  @include tablet {
    width: 354px;
  }

  @include desktop {
    width: 270px;
  }
}


.features-nav__item {

   @include tablet{
   width:calc((100% - 30px)/2);
  }
  @include desktop{
    width:calc((100% - 90px)/4);
   }
 
}




