.footer-section {
  background-color: var(--hero-background);
  padding-bottom: 60px;
  padding-top: 60px;
  @include desktop {
    padding-top: 60px;
  }
}

.long-logob {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @include desktop {
    justify-content: start;
  }
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @include desktop {
    justify-content: start;
    gap: 0px;
  }
}

address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-font);
}

address .link-email,
address .link-phone {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary-color-text);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--transition-dur-and-func);
  @include desktop {
    display: block;
  }
}

address .link-email:hover,
address .link-phone:hover {
  color: var(--accent-color);
}

.address__link {
  line-height: 1.7px;
  color: var(--secondary-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 0;
  margin-bottom: 0px;
  @include desktop {
    align-items: flex-start;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    align-items: flex-start;
  }
}

.foot-address {
  margin-bottom: 8px;
}

.join {
  row-gap: 60px;
  @include tablet {
    row-gap: 105px;
    margin-top: 0;
  }
  @include desktop {
    margin-top: 0;
    margin-left: 70px;
    margin-right: 93px;
  }
}

.social-list-link {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join-title,
.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;

  @include desktop {
    text-align: start;
  }
}

.social-list-icon-footer {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.submit {
  width: 100%;
  @include mobile {
    width: 450px;
  }

  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }
}

.sub-label {
  width: 100%;
  @include mobile {
    width: 450px;
  }

  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }
}

.sub-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 450px;
  }
  @include desktop {
    flex-direction: row;
    width: 358px;
  }
}

.sub-box {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: block;

  @include mobile {
    width: 450px;
  }

  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.send {
  display: flex;
  align-items: center;
  justify-items: center;
  fill: var(--footer-font);
  margin-left: 10px;
}

.sub {
  margin-top: 20px;
  @include desktop {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color var(--transition-dur-and-func);

  &:focus,
  &:hover {
    background-color: var(--button-hover);
  }
}
