.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;

   &:focus,
  &:hover { 
    fill: var(--accent-color);}
  
}


  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }

}

.mobile-menu__container {
  position: relative;
  padding-left: 40px;
}

.open-mobile-menu-btn {
  border: none;
  top: 10px;
  right: 15px;
  background: transparent;
  padding: 0;
  line-height: 0;

  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
}

.link {
  display: block;
  padding-bottom: 32px;
  color: var(--main-color-text);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}

.link.current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.mobile-menu__menu-list {
  padding-top: 48px;
  padding-bottom: 270px;
}

.link.mobile-menu__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.link.mobile-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}

.list.list.mobile-menu__social-list {
  display: flex;
  gap: 20px;
  
}

.link.mobile-menu__social-list-line {
font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  }