
button {
  cursor: pointer;
  font-family: inherit;
}

body {
  background-color: var(--white-color);
  color: var(--main-color-text);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}


.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
ul ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}



