.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 100vw;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  


@include mobile {
    width: 450px;
  }

  @include desktop {
    width: 528px;
  }
}




.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition-dur-and-func);
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.contact-us {
  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.mod-input-field {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color var(--transition-dur-and-func);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.mod-form-input-desc {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color-text);
  margin-bottom: 4px;
  margin-top: 10px;
}

.mod-icon-wrapper {
  display: block;
  position: relative;
}

.mod-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);

  .mod-input-field:focus + & {
    fill: var(--accent-color);
  }
}

.mod-input-message {
  margin: 0;
  width: 100%;
  height: 138px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  transition: border-color var(--transition-dur-and-func);
  resize: none;
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.mod-form-lable.check {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mod-text {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--secondary-color-text);
  margin-left: 8px;

@include mobile {
  font-size: 12px;
}

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.mod-text.link {
  font-size: 9px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);

@include mobile {
  font-size: 12px;
}

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.mod-form-check {
  position: absolute;
  appearance: none;
}

.mod-custom-svg {
  fill: transparent;
  border: 1px solid var(--main-color-text);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  .mod-form-check:focus + & {
    box-shadow: 0 0 0 2px var(--accent-color);
  }

  .mod-form-check:checked + &.mod-svg-checked {
    display: block;
  }
  .mod-form-check:checked + & {
    border: none;
    fill: var(--footer-font);
    background-color: #188ce8;
    display: inline-block;
  }
}

.modal-form-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color var(--transition-dur-and-func);

  &:focus,
  &:hover {
    background-color: var(--button-hover);
  }
}
